<!DOCTYPE html>

<!-- 404 page by https://codepen.io/gxash/pen/rrJYwm -->

<html lang="en">

{% include head.html %}

<body class="bootstrap">
  

  <div class="container">


    <div class="wrapper p-5 text-center">
      <figure>
        <img src="{{site.baseurl}}/assets/img/404.png" class="figure-img img-fluid rounded" alt="" style="width:70%">
      </figure>
    
      <a class="btn btn-outline-info mt-1" href="{{ site.baseurl }}/">Go Back Home</a>
    
    </div>

  </div>

</body>

</html>