<div class="container">
    <div class="main-timeline">


        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">pres.</span>
                        <span class="hyphen"> &#8249;</span>
                        <span class="year">Feb 2021</span>

                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Subject Coordinator - Lecturer</h5>
                <p class="location"> University of Wollongong, Australia</p>
                <p class="description">
                    &#8226; Postgraduate subject: "Techniques and Tools for Business Analytics"  <br>
                    &#8226; Subject content: Employ business analytics techniques for descriptive analytics, predictive analytics, and prescriptive analytics on big business data to derive conclusions and business decisions <br>
                    &#8226; Application and interpretation of tools used in machine learning and data analysis, e.g., clustering, decision tree, linear regression, logistic regression, forecasting, path analysis <br>
                    &#8226; Dashboarding: Students are taught how to create visual representations of key information, data, and metrics in a consolidated and easily digestible format <br>
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">pres.</span>
                        <span class="hyphen"> &#8249;</span>
                        <span class="year">Sep 2019</span>

                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Ph.D. in Computer Vision</h5>
                <p class="location"> University of Wollongong, Australia</p>
                <p class="description">
                    &#8226; PhD titled: "Responsible Vehicle Re-Identification using Attention-Based Networks"  <br>
                    &#8226; Researched existing literature review and identified:<br>
                    &emsp;&emsp;  1. the unaddressed ethical concerns in vehicle re-identification<br>
                    &emsp;&emsp;   2. the trend and dominance of Transformer networks in computer vision<br>
                    &emsp;&emsp;   3. the exisiting complex literature and lack of explainability in papers<br>
                    &#8226; Key achievements:<br>
                    &emsp;&emsp;  1. generation of an anonymous dataset using generative AI image-to-image translation techniques<br>
                    &emsp;&emsp;   2. implementation of a vehicle re-identification algorithm using attention-based neural networks<br>
                    &emsp;&emsp;   3. publishing of a paper addressing vehicle re-identification in a more digestible format<br>
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">Jun 2019</span>
                        <span class="hyphen"> &#8249;</span>
                        <span class="year">Oct 2018</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Data Analyst</h5>
                <p class="location"> BNP Paribas Fortis, Belgium </p>
                <p class="description">
                    &#8226; Involved in the design of the data and reporting infrastructure to provide real-time insights into business KPIs by conducting a data migration and database design <br>
                    &#8226; 
                    Performed ETLs and data analysis with financial data, which resulted in the elimination of the need for manual data collection and integration, thereby saving time without comprising data accuracy<br>
                    &#8226; Built dashboards to solve financial business problems for different stakeholders, including senior and executive level management
                </p>
            </div>

        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">Jun 2019</span>
                        <span class="hyphen"> &#8249;</span>
                        <span class="year">Aug 2018</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">BI Consultant</h5>
                <p class="location"> Business &amp; Decision BE, Belgium </p>
                <p class="description">
                     Onboard clients into the new data and reporting platform to leverage BI tools to analyse and interpret complex datasets
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">Jun 2018</span>
                        <span class="hyphen"> &#8249;</span>

                        <span class="year">Sep 2016</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Masters's Degree </h5>
                <p class="location"> Université de Namur, Belgium </p>
                <p class="description">
                    &#8226; Degree in  mathematical sciences <br>
                    &#8226; Specialisation in data science <br>
                    &#8226; Graduated magna cum laude <br>
                </p>
            </div>
        </div>
        <!-- end experience section-->


        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">Jun 2016</span>
                        <span class="hyphen"> &#8249;</span>
                        <span class="year">Sep 2013</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Bachelor's Degree </h5>
                <p class="location"> Université Libre de Bruxelles, Belgium </p>
                <p class="description">
                    &#8226; Degree in  mathematical sciences <br>
                    &#8226; Secondary field in physics <br>
                    &#8226; Graduated cum laude <br>
                </p>
            </div>
        </div>
        <!-- end experience section-->



    </div>
</div>
    